*{
    padding: 0;
    margin: 0;
}
.bg-main{
    background-color: #00B207;
    ;
}
.bg-nav{
    background-color: #333333;
    color: #999999;

}
.button-col{
    color: #00B207;
    ;
}
.big-pic{
    background-image: url(./images/eco-bazzare-pic1.jpg);
}
.small-pic-1{
    background-image: url(./images/BG.png);
}
.small-pic-2{
    background-image: url(./images/eco-bazard\ pic3.png);
}
.bg-orange{
    background-color: #FF8A00;
    ;
}
.text-orange{
    color: #FF8A00;
}
.w-15{
    width: 15%;
}
.text-yellow{
    color: rgb(255, 208, 0);
    background-color: black;
}
.ig-1{
    background-image: url(./images/ig-pic1.png);
    height: 160px;
}
.ig-2{
    background-image: url(./images/ig-pic2.png);
    height: 160px;
}
.ig-3{
    background-image: url(./images/ig-pic3.png);
    height: 160px;
}
.ig-4{
    background-image: url(./images/ig-pic4.png);
    height: 160px;
}
.ig-5{
    background-image: url(./images/ig-pic5.png);
    height: 160px;
}
.ig-6{
    background-image: url(./images/ig-pic6.png);
    height: 160px;
}

@media screen and (max-width: 768px){
.w-15{
     width: 30%;
}
.contact-main-header{
   display: none;
}
.contact-map{
    display: none;
}
}
.h-100{
    height: 450px;
    font-family: Arial, Helvetica, sans-serif;
}
.type-1{
    background-image: url(./images/Rectangle\ 54.png);
}
.type-2{
    background-image: url(./images/Rectangle\ 54\ \(1\).png);
}
.type-3{
    background-image: url(./images/Rectangle\ 54\ \(2\).png);
}
.discont-container{
    background-image: url(./images/i-did-it.jpeg);
    height: 300px;
}
.texts3{
    margin-left: 110px;
}
.contact-main-header{
    background-image: url(./images/Breadcrumbs.png);
    height: 100px;
    background-repeat: no-repeat;
}
.contact-map{
    background-image: url(./images/Map\ Image.png);
    height: 300px;
}
